.row {
    display: flex;
    justify-content: space-between;
}
.containers {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.grid {
    display: flex;
    gap: 2px;
  }
  
  .gridItem {
    background: lightblue;
    padding: 10px;
    flex: 1 1 200px;
    text-align: center;
  }